<aside class="sidebar">
  <div class="brand">
    <div class="logo">
      <img src="../img/logo.png" alt="Logo Trilha Verde">
    </div>
    <div class="brand-text">
      <h1>Trilha Verde</h1>
      <span>Painel Admin</span>
    </div>
  </div>

  <nav class="menu" aria-label="Principal">
    <a href="dashboard.html" class="menu-item">
      <span class="icon">📊</span> <span class = "pagename">Dashboard</span>
    </a>
    <a href="trilhas.html" class="menu-item">
      <span class="icon">🥾</span> <span class = "pagename">Trilhas</span>
    </a>
    <a href="arvores.html" class="menu-item">
      <span class="icon">🌳</span> <span class = "pagename">Árvores</span>
    </a>
    <a href="perguntas.html" class="menu-item">
      <span class="icon">❓</span> <span class = "pagename">Perguntas</span>
    </a>
    <a href="log.html" class="menu-item">
      <span class="icon">📜</span> <span class = "pagename">Log</span>
    </a>
    <a href="perfil.html" class="menu-item">
      <span class="icon">👤</span> <span class = "pagename">Perfil</span>
    </a>
  </nav>

  <div class="sidebar-footer">
  <button id="sairBtn" class="ghost">Sair</button>
  </div>
</aside>
