@import url('variables.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  width: 850px;
  height: 500px;
  background: var(--branco);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px var(--preto);
}

/* Lado esquerdo */
.left {
  flex: 1;
  background: var(--verde-floresta);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.left img {
  max-width: 200px;
  margin-bottom: 20px;
}

.left h2 {
  margin-bottom: 2px;
  font-size: 36px;
  font-weight: bold;
  color: var(--verde-folha);
}

.left p {
  font-size: 14px;
  color: var(--bege);
}

/* Lado direito */
.right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formulários */
/* Todos os formulários escondidos por padrão */
.form-box {
  display: none;
  flex-direction: column;
  height: 100%;
}

/* Apenas o ativo aparece */
.form-box.active {
  display: flex;
}

/* Título fixo */
.form-box h2 {
  flex-shrink: 0; /* Não encolhe */
  margin-bottom: 10px;
}

/* Apenas cadastro tem conteúdo rolável */
.form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 30px;;
  box-sizing: border-box;
}

.logo {
  font-weight: bold;
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 4px;
  text-align: center;
  color: var(--marrom-claro);
}

h2 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: normal;
  color: var(--preto);
}

.passwordNome{
  margin-top: 15px;
  font-weight: 600;
}

.formLogin, .formCadastro, .formPassword {
  display: flex;
  flex-direction: column;
  height: 100%;
}

label {
  margin: 10px 0 5px;
}

input, select {
  padding: 10px;
  border: 1px solid var(--cinza);
  border-radius: 8px;
}

.form-content label,
.form-content input,
.form-content select {
  font-size: 14px;
  text-align: left;
  width: 100%;
  max-width: 320px;   /* controla a largura */
  margin-left: auto;
  margin-right: auto; /* centraliza o bloco na tela, mas conteúdo alinhado à esquerda */
}

.profile-pic {
  position: relative;
  width: 90px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic .profileimage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--marrom-claro);
  /* align-self: center; */
}

.edit-icon {
  width: 40%;   /* Reduz para 40% do tamanho do círculo */
  height: auto; /* Mantém proporção da imagem */
  object-fit: contain; /* Garante que a imagem não deforme */
  border-radius: 50%;
  background-color: var(--cinza);
  border: 2px solid var(--branco);
  padding: 5px;
  position: relative;
  top: -35px;
  right: -60px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-icon:hover {
  background: #388E3C;
}

.forgotpass {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 0;
}

.forgotpass a {
  font-size: 12px;
  color: var(--cinza);
  text-decoration: none;
}

.forgotpass a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--verde-floresta);
  color: var(--branco);
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #222;
}

.error {
  color: var(--vermelho); 
  display: none;
  font-size: 13px;
}

.divider {
  text-align: center;
  margin: 5px 0;
  position: relative;
}

.divider span {
  padding: 0 10px;
  color: var(--cinza);
  font-size: 12px;
}

.toggleForm {
  font-size: 13px;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.toggleForm:hover {
  color: var(--preto);
}

/* RESPONSIVO */
/* @media (max-width: 1000px){
  .container { flex-direction: column; width: 90%; height: auto; }
  .left { width: 100%; padding: 20px; }
  .right { width: 100%; padding: 20px; }
}

@media (max-width: 560px){
  .logo { font-size: 28px; }
  .left h2 { font-size: 28px; }
} */

@media (max-width: 1000px){
  body {
    align-items: flex-start; /* deixa de centralizar verticalmente */
    height: auto;             /* altura passa a acompanhar o conteúdo */
    padding: 40px 0;           /* cria margem superior e inferior */
  }

  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .left { width: 100%; padding: 20px; }
  .right { width: 100%; padding: 20px; }
}

