@import url('variables.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  width: 850px;
  height: 500px;
  background: var(--branco);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px var(--preto);
}

/* Lado esquerdo */
.left {
  flex: 1;
  background: var(--verde-floresta);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.left img {
  max-width: 200px;
  margin-bottom: 20px;
}

.left h2 {
  margin-bottom: 2px;
  font-size: 36px;
  font-weight: bold;
  color: var(--verde-folha);
}

.left p {
  font-size: 14px;
  color: var(--bege);
}

/* Lado direito */
.right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-weight: bold;
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 4px;
  text-align: center;
  color: var(--marrom-claro);
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  color: var(--preto);
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, select {
  padding: 10px;
  border: 1px solid var(--cinza);
  border-radius: 8px;
}

/* Botões e links comuns */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--verde-floresta);
  color: var(--branco);
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #222;
}

.error {
  color: var(--vermelho);
  font-size: 13px;
  display: none;
}

.divider {
  text-align: center;
  margin: 5px 0;
  position: relative;
}

.divider span {
  padding: 0 10px;
  color: var(--cinza);
  font-size: 12px;
}

.toggleForm {
  font-size: 13px;
  display: block;
  align-self: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.toggleForm:hover {
  color: var(--preto);
}

.forgotpass {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 0;
}

.forgotpass a {
  font-size: 12px;
  color: var(--cinza);
  text-decoration: none;
}

.forgotpass a:hover {
  text-decoration: underline;
}

/* RESPONSIVO */
@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    height: auto;
    padding: 40px 0;
  }

  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .left { width: 100%; padding: 20px; }
  .right { width: 100%; padding: 20px; }
}