/* Formulário de login */
.formLogin {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Deixa o form-box visível diretamente */
.form-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.secondary-btn {
  background: transparent;
  color: var(--verde-floresta);
  border: 1px solid var(--verde-floresta);
  margin-top: 10px;
}

.secondary-btn:hover {
  background: var(--verde-folha);
  color: var(--preto);
}
