/* Formulário de login */
.formLogin {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Deixa o form-box visível diretamente */
.form-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about-link {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.about-link a {
  font-size: 12px;
  color: var(--marrom-claro);
  text-decoration: none;
  font-weight: 600;
}

.about-link a:hover {
  text-decoration: underline;
}
