@import url(variables.css);

/* Cabeçalho */
header {
    background-color: var(--marrom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
}

.logo h1 {
    color: var(--bege);
    font-size: 30px;
}

.user-info {
    background-color: var(--verde-folha);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.user-info img {
    height: 35px;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    min-width: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-menu button {
    width: 100%;
    border: none;
    background: none;
    padding: 8px 10px;
    text-align: left;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #eee;
}

/* .user-info:hover {
    background-color: var(--verde-floresta);
    color: var(--bege);
} */

/* .user-info span:hover {
    color: var(--bege);
} */

/* Menu de Navegação */
nav {
    background-color: var(--verde-folha);
    padding: 20px 35px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--marrom);
    justify-content: space-between;
}

nav button {
    background: none;
    border: none;
    font-size: 20px;
    color: var(--marrom);
    cursor: pointer;
    font-weight: bold;
}

nav button:hover {
    border-bottom: 2px solid var(--marrom);
}

nav button.active {
    border-bottom: 3px solid var(--preto);
    color: var(--preto);
}

/* Estatísticas */
main {
    padding: 20px;
    display: grid;
    grid-template-columns: 200px auto; /* 2 colunas principais */
    column-gap: 200px;
}

.stats {
    display: grid;
    grid-template-columns: 100px 100px; 
    column-gap: 100px;
    row-gap: 20px;
}

.card {
    background-color: var(--amarelo);
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    font-size: 20px;
}

.card h2 {
    font-size: 35px;
    padding-bottom: 10px;
}

.graph-placeholder {
    background-color: #ffffff;
    height: auto;
    width: auto;
    padding: 1%;
}
.graph-title {
    text-align: start;
    font-size: 20px;
    color: var(--preto);
    margin-bottom: 10px;
}

.graph {
    height: 300px;
}

/* Atividades Recentes */
.recent-activities {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: column2-end;
}

.recent-activities h3 {
    color: var(--marrom);
    margin-bottom: 10px;
    font-size: 25px;
}

.recent-activities ul {
    list-style: none;
}

.recent-activities li {
    margin-bottom: 5px;
    color: var(--preto);
    
}

.recent-activities li strong{
    color: var(--preto);
}

.recent-activities .flag {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 8px;
    font-size: 16px;
}

.recent-activities .add .flag {
    color: green;
}

.recent-activities .remove .flag {
    color: red;
}

.recent-activities .edit .flag {
    color: orange;
}
